BASE_URL=http://automationexercise.com

CI=false

HEADLESS=true

SLOW_MO=0

DEFAULT_TIMEOUT=60000
ACTION_TIMEOUT=15000
NAVIGATION_TIMEOUT=30000

DEFAULT_BROWSER=chromium

LOG_LEVEL=info

ENV=local

TEST_USER_EMAIL=test@example.com
TEST_USER_PASSWORD=Test@1234
